<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cross-match</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

</head>
<body>


<div>
    <h3>Search example</h3>
    <form>
        <input type="search" name="search" hx-get=/snomed/search"
               hx-trigger="keyup changed delay:500ms, search"
               hx-target="#search-results">
    </form>
    <div id="search-results">
        Search results might appear here if it works
    </div>
</div>


</body>
</html>
